.test-box__flex-container {
    display: flex;
    /* flex-wrap: wrap; */
}

.test-box__flex-element {
    height: 100px;
    width: 150px;
    background: blue;
    border: 1px solid #000;
}

.test-box__fe-2h {
    height: 200px;
}

.test-box__fe-2w {
    width: 300px;
}

.test-box__single-styles {
    /* background: red; */
    /* align-self: center; */
}